customtkinter
db_dtypes
gdown
google-api-python-client
google-cloud
google-cloud-storage
google-cloud-bigquery-storage
gspread
inflect
matplotlib
openpyxl
pandas
pandas-gbq
pillow
tkcalendar
xlsxwriter

git+https://github.com/misunders2d/helper-modules.git@master
