boto3
customtkinter
db_dtypes
easygui
gdown
google-api-python-client
google-cloud
google-cloud-storage
google-cloud-bigquery-storage
gspread
fuzzywuzzy
inflect
matplotlib
openpyxl
pandas
pandas-gbq
openai
pillow
pyperclip
pyside6
python-telegram-bot
python-Levenshtein
tkcalendar
xlsxwriter

git+https://github.com/misunders2d/helper-modules.git@master
